body{
	background-color: DarkOliveGreen;
}
h1{
	font-size: 9vw;
	font-family: "Garamond", serif;
	color: Khaki;
	text-align: center;
}
h2{
	font-family: "Garamond", serif;
	font-size: 3vw;
	color: Khaki;
	text-align: center;
}

.flex-container{
	justify-content: flex-start;
	display: flex;
	padding: 2vw;
}
.flex-container2{
	display: flex;
	justify-content: flex-end;
	flex-flow: row;
	padding: 2vw;
}
img{
	max-width: 45%;
	height:auto;
}
a{
	font-family: "Garamond", serif;
	font-size: 4vw;
	color: Khaki;
	text-align: center;
}